﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>  
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title> 
</head>
<body> 
    <form id="form1" runat="server">
        <asp:HiddenField runat="server" id="hfWorkflow" ></asp:HiddenField>
        <div> 
        </div>
    </form>
</body>
</html>
